<mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab label="New">
        <form
        class="signup4-form"
        [formGroup]="fee"
        (ngSubmit)="newFee()"
      >
        <div class="row">
            <div class="column">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Student Number</mat-label>
                    <input
                      matInput
                      formControlName="stud_id"
                      type="number"
                      name="stud_id"
                      placeholder="Student Id"
                    />
                    <mat-error *ngIf="checkError('stud_id', 'required')">Student number is required</mat-error>
                  </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      formControlName="amount"
                      type="number"
                      name="amount"
                      placeholder="Amount"
                    />
                    <mat-error *ngIf="checkError('amount', 'required')">Amount is required</mat-error>
                  </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input
                      matInput
                      formControlName="date"
                      type="date"
                      name="date"
                      placeholder="Date"
                    />
                    <mat-error *ngIf="checkError('date', 'required')">Date is required</mat-error>
                  </mat-form-field>
            </div>
            <div class="column">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Total Paid</mat-label>
                  <input
                    matInput
                    formControlName="total_paid"
                    type="number"
                    name="total_paid"
                    placeholder="Total Paid"
                  />
                  <mat-error *ngIf="checkError('total_paid', 'required')">This field is required</mat-error>
                </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="column">
              <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Number of Installments</mat-label>
                  <input
                    matInput
                    formControlName="installments"
                    type="number"
                    name="installments"
                    placeholder="Number of Installments"
                  />
                  <mat-error *ngIf="checkError('installments', 'required')">This Field is Required</mat-error>
                </mat-form-field>
          </div>
      </div>


        <button mat-raised-button color="primary">{{editMode?'Save':'Create'}}</button>
        <button *ngIf="editMode" style="margin-left: 10px;" (click)="cancelEditMode()" mat-raised-button color="warn">Cancel</button>
      </form>
    </mat-tab>


    <mat-tab label="Payments">
      <div class="row" style="margin-top: 10px; margin-left: 10px;">
        <!-- <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Student Number/Name</mat-label>
            <input
              matInput
              type="number"
              name="studententNumber"
              placeholder="Student Number/Name"
            />
            <mat-error *ngIf="checkError('installments', 'required')">This Field is Required</mat-error>
          </mat-form-field>
        </div> -->
        <div class="column">
          <mat-form-field appearance="outline">
            <mat-label>Due</mat-label>
            <mat-select 
            [(value)]="duePayment"
            name="class">
                <mat-option value="all">
                  All
              </mat-option>
                <mat-option value="true">
                  Due Payments
                </mat-option>
                <mat-option value="false">
                  Not Due Payments
               </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
        <div class="ml-05 mr-05 mt-05 pb-1">
            <div class="mat-elevation-z8">
                <mat-table [dataSource]="filterData()" matSort >
          
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="stud_id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Student Number </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="progress"> {{row.stud_id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="stud_name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="progress"> {{row.student.firstname}} {{row.student.lastname}}</mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="amount_of_course">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{row.amount}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="total_paid">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Paid </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{row.total_paid}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="reaining_paid">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Payment </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{row.remaining_payment}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="last_payment_date">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Payment Date </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{formatDate(row.last_payment)}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="number_of_installements">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Installments </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{row.installments}} </mat-cell>
                    </ng-container>

                     <ng-container matColumnDef="remaining_installenments">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Installments </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{row.remaining_installments}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="monthly_fee">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Monthly Fee (Rs) </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> {{row.monthly_fee | number:'1.2-2'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="is_payment_due">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Due Status </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="name"> <div [style.color]="row.is_payment_due ? 'red': 'green'">{{row.is_payment_due?'Payment Due':'Not Due'}}</div> </mat-cell>
                    </ng-container>
                
                
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.date}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> 
                            <button mat-icon-button color="primary" aria-label="Edit" (click)="updateSelect(row)">
                                <mat-icon>edit</mat-icon>   
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteFee(row.id)" aria-label="Delete">
                                <mat-icon>delete</mat-icon>   
                            </button>
                        </mat-cell>
                    </ng-container>
                    
                    <mat-header-row *matHeaderRowDef="dataColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: dataColumns;">
                    </mat-row>
                </mat-table>
                
            </div>
          </div>
          
    </mat-tab>
  </mat-tab-group>