<div class="mat-bg-primary mx--033 mt--033 px-24 pt-24 pb-96">
  <h5 class="text-white text-16 mb-16 font-weight-bold">Last Month Sales</h5>
  <div
    height="180"
    echarts
    class="chart m-0"
    [options]="dailyTrafficChartBar"
  ></div>
</div>
<div class="mt--72">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="70" fxFlex.gt-sm="70">
      <div fxLayout="row wrap">
        <div
          *ngFor="let item of statCardList"
          fxFlex="100"
          fxFlex.sm="50"
          fxFlex.gt-sm="50"
        >
          <mat-card
            class="p-24"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="text-48 mat-color-{{item.color}}">{{
                item.icon
              }}</mat-icon>
              <div class="ml-12">
                <p class="m-0 text-muted mb-4">{{ item.title }}</p>
                <h5 class="m-0 mat-color-{{item.color}}">{{ item.amount }}</h5>
              </div>
            </div>
            <button mat-icon-button matTooltip="view more">
              <mat-icon class="mat-18">arrow_right_alt</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
    </div>

    <div fxFlex="100" fxFlex.sm="30" fxFlex.gt-sm="30">
      <div fxLayout="row wrap">
        <mat-card fxFlex="100">
          <mat-card-title class="mb-0">Income Sources</mat-card-title>
          <small class="text-muted">Last 30 days</small>
          <div
            echarts
            [options]="doughNutPieOptions"
            style="height: 280px"
          ></div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
